* body {
  margin: 0 0
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #3b5998;
  height: 90px;
}

.logo {
  display: flex;
  justify-content: space-around;
  width: 170px;
  height: 33px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.loginMenu {
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 297px;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.button {
  background-color: #4267b2;
  border-color: #29487d;
  color: white;
  width: 50px;
  height: 22px;
  font-family: inherit;
}

.forgot  {
  color: #9cb4d8;
  font-weight: normal;
}

.inputBox {
  width: 138px;
}


.wrapper {
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 20% 10% 70%;
  background-color: #edf0f5;
  padding-left:
}

.left {
  grid-column: 1;
  grid-row: 1 / 4;
  padding-left: 158px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 20px;
}

.recent {
  grid-column: 1;
  grid-row: 1;
  display:flex;
}

.click {
  grid-column: 1;
  grid-row: 2;
  display:flex;
}

.right {
  grid-column: 2;
  grid-row: 1 / 4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 20px;
}

.free {
  grid-column: 2;
  grid-row: 2;
}

.account {
  grid-column: 2;
  grid-row: 1;
}

.FirstLast {

}

.form {
  width: 190px;
  height: 28px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}


.MobilePassword2 {
  display: block;
  width: 389px;
  height: 28px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}


.dropdown {
  width: 66px;
  height: 30px;
  font-size: 14px;
}

.Why {
  font-size: 11px;
  max-width: 150px;
}

.terms {
  font-size: 11px;
}

.submit {
  background-color: #709d58;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  width: 200px;
  height: 50px;
  font-size: 22px;
  border-radius: 8px;
  border-color: black;
}

.create {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
}

.languages {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

/* .bottom {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
} */

.row1 {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.row2 {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.row3 {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.lastbaby {
      padding-left: 75px;
}

li {
  padding-left:20px;
}

a {
  color: #3c5994;
}
