/* html, body, header, nav, h1, a,
ul, ol, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
} */

* body {
  margin: 0 0
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #3b5998;
  height: 90px;
}

.logo {
  display: flex;
  justify-content: space-around;
  width: 170px;
  height: 33px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.loginMenu {
padding-top: 15px;
padding-bottom: 20px;
padding-left: 297px;
justify-content: space-between;
color: white;
font-size: 14px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.inputBox {
width: 138px;
}
